<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <module name="netlogo" displayName="NetLogo" version="1.0.0" configVersion="1.0000" contentType="any">
    <transformers>
      <transformer name="netlogo" displayName="NetLogo" isModel="True" isPrimary="True">
        <runtime>
          <transformer name="netlogo:runtime"/>
        </runtime>
      </transformer>
      <transformer
          name="netlogo:runtime"
          displayName="NetLogo Runtime Transformer"
          className="SyncroSim.NetLogo.RuntimeTransformer"
          classAssembly="SyncroSim.NetLogo">
        <datafeeds>
          <datafeed name="netlogo:agent-datafeed" displayName="Agents" dataScope="Project">
            <datasheets>
              <datasheet name="NetLogo_Agent" displayName="Agents" valueMember="AgentID" displayMember="Name">
                <columns>
                  <column name="AgentID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String"/>
                  <column name="Description" dataType="String" isOptional="True"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="netlogo:patch-type-datafeed" displayName="Patch Type" dataScope="Project">
            <datasheets>
              <datasheet name="NetLogo_PatchType" displayName="Patch Types" valueMember="PatchTypeID" displayMember="Name">
                <columns>
                  <column name="PatchTypeID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String" fillWeight="10"/>
                  <column name="ID" dataType="Integer" isOptional="True" fillWeight="5" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0"/>
                  <column name="Description" dataType="String" isOptional="True" fillWeight="20"/>
                </columns>
                <validations>
                  <validation validationType="UniqueOrNull" columns="ID"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="netlogo:env-datafeed" displayName="NetLogo" dataScope="Library">
            <datasheets>
              <datasheet name="NetLogo_Environment" displayName="NetLogo" installationFolder="NetLogo 6.0">
                <columns>
                  <column name="EnvironmentID" dataType="Integer" isPrimary="True"/>
                  <column name="Name" dataType="String" allowDbNull="False"/>
                  <column name="Value" dataType="String" allowDbNull="False"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="netlogo:input-datafeed" displayName="Input" dataScope="Scenario">
            <datasheets>
              <datasheet name="NetLogo_Input" displayName="Input" isSingleRow="True">
                <columns>
                  <column name="InputID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="MinimumIteration" displayName="Minimum Iteration" dataType="Integer" defaultValue="1" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="1"/>
                  <column name="MaximumIteration" displayName="Maximum Iteration" dataType="Integer" defaultValue="1" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="1" format="d"/>
                  <column name="MinimumTimestep" displayName="Minimum Timestep" dataType="Integer" defaultValue="0" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="MaximumTimestep" displayName="Maximum Timestep" dataType="Integer" defaultValue="10" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="OutputFrequency" displayName="Output Frequency" dataType="Integer" validationType="WholeNumber" format="d" allowDbNull="False" />
                  <column name="LocationFile" displayName="Location File" dataType="String" isExternalFile="True" allowDbNull="False" externalFileFilter="CSV Files|*.csv"/>
                  <column name="InitialVegetationFile" displayName="Initial Vegetation File" dataType="String" isExternalFile="True" allowDbNull="False" externalFileFilter="TIF Files|*.tif"/>
                  <column name="AgentID" dataType="Integer" displayName="Agent" validationType="Datasheet" formula1="NetLogo_Agent" allowDbNull="False"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
        </datafeeds>
      </transformer>
    </transformers>
    <layouts>
      <layout name="system-forms:library-datafeeds" model="netlogo">
        <item name="system:files-datafeed"/>
        <item name="system:backup-datafeed"/>
        <item name="system:model-run-datafeed"/>
        <item name="netlogo:env-datafeed"/>
      </layout>
      <layout name="system-forms:project-datafeeds" model="netlogo">
        <item name="netlogo:agent-datafeed"/>
        <item name="netlogo:patch-type-datafeed"/>
      </layout>
      <layout name="system-forms:scenario-datafeeds" model="netlogo">
        <item name="netlogo:input-datafeed"/>
      </layout>      
    </layouts>
    <visualizers>
      <visualizer
        name="netlogo:env-datafeed-visualizer"
        target="netlogo:env-datafeed"
        className="SyncroSim.Core.Forms.ExeConfigDataFeedView" classAssembly="SyncroSim.Core.Forms"/>
    </visualizers>
  </module>
</configuration>