<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <module name="netlogo" displayName="NetLogo" version="1.0.0" configVersion="1.0000" contentType="any">
    <transformers>
      <transformer name="netlogo" displayName="NetLogo" isModel="True" isPrimary="True">
        <runtime>
          <transformer name="netlogo:runtime"/>
        </runtime>
        <include>
          <transformer name="stime:maps"/>
          <transformer name="stime:charts"/>          
        </include>
      </transformer>
      <transformer
          name="netlogo:runtime"
          displayName="NetLogo Runtime Transformer"
          className="SyncroSim.NetLogo.RuntimeTransformer"
          classAssembly="SyncroSim.NetLogo" 
          environmentSheet="NetLogo_Environment" 
          configurationSheet="NetLogo_RunControl">
        <datafeeds>
          <datafeed name="netlogo:env-datafeed" displayName="NetLogo" dataScope="Library">
            <datasheets>
              <datasheet name="NetLogo_Environment" displayName="NetLogo" installationFolder="NetLogo 6.0">
                <columns>
                  <column name="EnvironmentID" dataType="Integer" isPrimary="True"/>
                  <column name="Name" dataType="String" allowDbNull="False"/>
                  <column name="Value" dataType="String" allowDbNull="False"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="netlogo:variable-datafeed" displayName="Variables" dataScope="Project">
            <datasheets>
              <datasheet name="NetLogo_Variable" displayName="Variables" valueMember="VariableID" displayMember="Name">
                <columns>
                  <column name="VariableID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String"/>
                  <column name="Description" dataType="String" isOptional="True"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>          
          <datafeed name="netlogo:run-control-datafeed" displayName="Run Control" dataScope="Scenario">
            <datasheets>
              <datasheet name="NetLogo_RunControl" displayName="Run Control" isSingleRow="True">
                <columns>
                  <column name="InputID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="MinimumIteration" displayName="Minimum Iteration" dataType="Integer" defaultValue="1" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="1"/>
                  <column name="MaximumIteration" displayName="Maximum Iteration" dataType="Integer" defaultValue="1" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="1" format="d"/>
                  <column name="MinimumTimestep" displayName="Minimum Timestep" dataType="Integer" defaultValue="0" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="MaximumTimestep" displayName="Maximum Timestep" dataType="Integer" defaultValue="0" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="TemplateFile" displayName="NetLogo Template File" dataType="String" isExternalFile="True" externalFileFilter="NetLogo Files|*.nlogo"/>
                  <column name="Experiment" dataType="String" defaultValue="experiment"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="netlogo:input-file-symbol-datafeed" displayName="Input Files Symbols" dataScope="Scenario">
            <datasheets>
              <datasheet name="NetLogo_InputFileSymbol" displayName="Input File Symbols">
                <columns>
                  <column name="InputFileSymbolID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="Iteration" dataType="Integer" validationType="WholeNumber" validationCondition="Greater" formula1="0" format="d" isOptional="True"/>
                  <column name="Symbol" dataType="String" allowDbNull="False"/>
                  <column name="Filename" displayName="File Name" dataType="String" isExternalFile="True" externalFileFilter="Input Files|*.*" allowDbNull="False"/>
                </columns>
                <validations>
                  <validation validationType="Unique" columns="Symbol"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="netlogo:other-symbol-datafeed" displayName="Other Symbols" dataScope="Scenario">
            <datasheets>
              <datasheet name="NetLogo_OtherSymbol" displayName="Other Symbols">
                <columns>
                  <column name="OtherSymbolID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="Symbol" dataType="String" allowDbNull="False"/>
                  <column name="Value" dataType="String" allowDbNull="False"/>
                </columns>
                <validations>
                  <validation validationType="Unique" columns="Symbol"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="netlogo:output-variable-datafeed" dataScope="Scenario" isOutput="True">
            <datasheets>
              <datasheet name="NetLogo_OutputVariable">
                <columns>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True" allowDbNull="False"/>
                  <column name="Iteration" dataType="Integer" isCompositeIndex="True" format="d" allowDbNull="False"/>
                  <column name="Timestep" dataType="Integer" isCompositeIndex="True" format="d" allowDbNull="False"/>
                  <column name="VariableID" displayName="Variable" dataType="Integer" validationType="Datasheet" formula1="NetLogo_Variable" allowDbNull="False"/>  
                  <column name="Amount" dataType="Double" allowDbNull="False"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>          
          <datafeed name="netlogo:output-variable-raster-datafeed" dataScope="Scenario" isOutput="True">
            <datasheets>
              <datasheet name="NetLogo_OutputVariableRaster">
                <columns>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True" allowDbNull="False"/>
                  <column name="Iteration" dataType="Integer" isCompositeIndex="True" format="d" allowDbNull="False"/>
                  <column name="Timestep" dataType="Integer" isCompositeIndex="True" format="d" allowDbNull="False"/>
                  <column name="VariableID" displayName="Variable" dataType="Integer" validationType="Datasheet" formula1="NetLogo_Variable" allowDbNull="False"/>                  
                  <column name="Filename" dataType="String" isExternalFile="True" isRaster="True" bandColumn="Band" bandFilterColumn="VariableID" allowDbNull="False"/>
                  <column name="Band" dataType="Integer"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
        </datafeeds>
      </transformer>
      <transformer
        name="netlogo:export-raster" displayName="Variable Rasters"
        className="SyncroSim.StochasticTime.Forms.StochasticTimeExportTransformer" classAssembly="SyncroSim.StochasticTime.Forms"
        dataSheet="NetLogo_OutputVariableRaster" column="Filename" isFolderExport="True" >
      </transformer>    
    </transformers>
    <layouts>
      <layout name="system-forms:library-datafeeds">
        <item name="system:sysfolder-datafeed"/>
        <item name="system:backup-datafeed"/>
        <item name="system:multiprocessing-datafeed"/>
        <item name="system:option-datafeed"/>
        <item name="netlogo:env-datafeed"/>
      </layout>
      <layout name="system-forms:project-datafeeds">
        <item name="netlogo:variable-datafeed"/>
      </layout>      
      <layout name="system-forms:scenario-datafeeds">
        <item name="netlogo:run-control-datafeed"/>
        <item name="netlogo:other-symbol-datafeed"/>
      </layout>
      <layout name="system-forms:result-transformers">
        <item name="stime:charts"/>        
        <item name="stime:maps"/>
        <group name="Export">
          <item name="netlogo:export-raster"/>        
        </group>
      </layout>
      <layout name="stime:maps" configurationSheet="NetLogo_RunControl">
          <item name="Variables" displayName="Variable Rasters" dataSheet="NetLogo_OutputVariableRaster" column="Filename" filter="VariableID"></item>
      </layout>
      <layout name="stime:charts" configurationSheet="NetLogo_RunControl">
        <item name="Variables" dataSheet="NetLogo_OutputVariable" column="Amount" filter="VariableID"/>
      </layout>
    </layouts>
    <visualizers>
      <visualizer
        name="netlogo:env-datafeed-visualizer"
        target="netlogo:env-datafeed"
        className="SyncroSim.Core.Forms.ExeConfigDataFeedView" 
        classAssembly="SyncroSim.Core.Forms"/>
    </visualizers>
  </module>
</configuration>