<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <module name="netlogo" displayName="NetLogo" version="1.0.0" configVersion="1.0000" contentType="any">
    <transformers>
      <transformer name="netlogo" displayName="NetLogo" isModel="True" isPrimary="True">
        <runtime>
          <transformer name="netlogo:runtime"/>
        </runtime>
      </transformer>
      <transformer
          name="netlogo:runtime"
          displayName="NetLogo Runtime Transformer"
          className="SyncroSim.NetLogo.RuntimeTransformer"
          classAssembly="SyncroSim.NetLogo">
        <datafeeds>
          <datafeed name="netlogo:agent-datafeed" displayName="Agents" dataScope="Project">
            <datasheets>
              <datasheet name="NetLogo_Agent" displayName="Agents" valueMember="AgentID" displayMember="Name">
                <columns>
                  <column name="AgentID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String"/>
                  <column name="Description" dataType="String" isOptional="True"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="netlogo:patch-type-datafeed" displayName="Patch Type" dataScope="Project">
            <datasheets>
              <datasheet name="NetLogo_PatchType" displayName="Patch Types" valueMember="PatchTypeID" displayMember="Name">
                <columns>
                  <column name="PatchTypeID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String" fillWeight="10"/>
                  <column name="ID" dataType="Integer" isOptional="True" fillWeight="5" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0"/>
                  <column name="Description" dataType="String" isOptional="True" fillWeight="20"/>
                </columns>
                <validations>
                  <validation validationType="UniqueOrNull" columns="ID"/>
                </validations>
              </datasheet>
            </datasheets>
          </datafeed>
        </datafeeds>
      </transformer>
    </transformers>
    <layouts>
      <layout name="system-forms:library-datafeeds" model="netlogo">
        <item name="system:files-datafeed"/>
        <item name="system:backup-datafeed"/>
        <item name="system:model-run-datafeed"/>
      </layout>
      <layout name="system-forms:project-datafeeds" model="netlogo">
        <item name="netlogo:agent-datafeed"/>
        <item name="netlogo:patch-type-datafeed"/>        
      </layout>
    </layouts>
  </module>
</configuration>